body{
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
}
h1{
    margin-top: 50px;
}
#language, #submit{
    display: none;
}
#range{
    width: 30px;
    top: 3.5px;
    position: relative;
}