<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/first.css">
</head>
<body>
    <h1>{{title}}</h1>
    <form method="post">
        <d class="select">
            <p>問題：
                <select name="problems">
                    <option value="B" size="1">{{second_title}}</option>
                </select>
            </p>
        </d>
    </form>
    <a class="start" href="http://127.0.0.1:5000/Working">START</a>
</body>
</html>