<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/static/css/third.css">
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <script type="text/javascript">
        var user_key = {{user_key|tojson}};
        var user_value = {{user_value|tojson}};
        var user_len = {{user_len|tojson}};
    </script>
</head>
<body>
    <h1>User</h1>
    <form action="/Working/Users/Details" method="POST">
        <p>Selection:
            <input type="text" id="user" name="user">
            <input type="hidden" id="submit" value="→">
        </p>
    </form>
    <p id="beginner"></p>
    <script type="text/javascript" src="../static/javascript/user_bubble.js"></script>
</body>
</html>