<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Atcoder Search System</title>
    <link rel="stylesheet" href="/static/css/fourth.css">
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body>
    <h1>Detail</h1>
    <div class="detail">
        <p class="list"><span class="subject">Code-length:  </span>{{code_len_key}}</p>
        <p class="list"><span class="subject">Runtime:  </span>{{runtime_key}}</p>
        <p class="list"><span class="subject">Memory:  </span>{{memory_key}}</p>
    </div>
    <pre class="prettyprint linenums"><code>{{code_key}}</code></pre>
</body>
</html>