body{
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-weight: bold;
}
h1{
    margin-top: 50px;
}
#submit{
    background-color: white;
    border-radius: 30px;
}
#submit:hover{
    background-color: rgb(199, 199, 199);
}