<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Atcoder Search System</title>
    <link rel="stylesheet" href="/static/css/code_search.css">
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body>
    <h1>Search A Most Similar Code</h1>
    <form action="/Working/Search_Code" method="POST">
        <textarea name="your_code" rows="10" cols="50" placeholder="ソースコードを入力してください"></textarea><br>
        <input type="submit" id="search" value="SEARCH">
    </form>
</body>
</html>